@using Domain.Dtos.Event
@model List<EventClientDto>

@{
    var lang = ViewBag.Lang ?? "az";
}

<section class="section-pdng event-section">
    <div class="container z-2 position-relative">
        <nav class="crumbNav" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Əsas səhifə</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tədbirlər</li>
            </ol>
        </nav>
        <div class="header d-flex flex-column flex-wrap align-items-center justify-content-between">
            <h1>BÜTÜN TƏDBİRLƏR</h1>
            <h2>TƏDBİRLƏRİN SİYAHISI</h2>
        </div>
        <div class="search-bar d-flex gap-4 flex-wrap flex-lg-nowrap justify-content-between">
            <div class="d-flex align-items-center">
                <p class="text-white me-4">Status</p>
                <div class="dropdown">
                    <button class="btn btn-category d-flex align-items-center justify-content-between" type="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdownText text-truncate"> Seçin</span>
                        <i class="bi bi-chevron-down ms-3"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end statusDown">
                        <button class="dropdown-item" data-value="hamısı">Hamısı</button>
                        <button class="dropdown-item" data-value="aktiv">Aktiv</button>
                        <button class="dropdown-item" data-value="pasif">Pasif</button>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <input type="email" id="searchKeyInput" class="form-control" placeholder="Axtarış et">
                <button type="button" id="searchButtonEvent" class="btn d-flex align-items-center justify-content-center">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <p class="text-white me-4">Kateqoriya</p>
                <div class="dropdown">
                    <button class="btn btn-category d-flex align-items-center justify-content-between" type="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdownText text-truncate"> Seçin</span>
                        <i class="bi bi-chevron-down ms-3"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end categoryDown">
                        <button class="dropdown-item">Hamısı</button>
                        <button class="dropdown-item">Peşəsinin peşəkarları</button>
                        <button class="dropdown-item">Ana akademiya</button>
                        <button class="dropdown-item">Uşaq maşında</button>
                    </div>
                </div>
            </div>

        </div>
        <div id="cardList" class="event-card-list">
            <div class="card-content">
              @foreach (var events in Model)
                {
                    <a asp-action="Detail" asp-controller="Event" asp-route-lang="@lang" asp-route-slugUrl="@events.SlugUrl" class="event-card d-block">
                        <div class="content row g-0">
                            <div class="col-lg-3">
                                <div class="event-image">
                                    <img src="~/@events.FileCode" alt="@events.SlugUrl">
                                </div>

                            </div>
                            <div class="col-lg-9 ps-lg-5">
                                <div class="event-card-body d-flex align-items-center justify-content-between">
                                    <div class="left">
                                        <div class="d-flex">
                                            <p class="me-3"><strong class="me-1"></strong>@events.EventDay</p>
                                            <p>@events.Clock</p>
                                        </div>
                                        <p class="heading">@events.Title</p>
                                        <div class="d-flex card-info">
                                            @if (events.Speakers is not null)
                                            {
                                               @foreach (var speaker in events?.Speakers!)
                                                {
                                                    <p class="speaker-name me-3">@speaker.FullName</p>
                                                }
                                            }
                                          
                                            @if(events.Categories is not null)
                                            {
                                               @foreach (var category in events.Categories)
                                                {
                                                    <p class="category-name">@category.Title</p>
                                                }
                                            }
                                        </div>
                                        <p class="location d-flex align-items-center">
                                            <i class="bi bi-geo-alt-fill me-3"></i>
                                           @events.Address
                                        </p>
                                    </div>
                                    <span class="arrow d-flex align-items-center">
                                        ƏTRAFLI
                                        <i class="bi bi-arrow-right-short ms-2"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="loading d-none">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="circles circle-left d-none d-lg-block"></div>
    <div class="circles circle-right d-none d-lg-block"></div>
    <div class="mini-box mini-box-right d-none d-lg-block"></div>
</section>